{% extends "portal/base.html" %}

{% block title %}TcsPT - Home{% endblock %}

{% block body %}

    <div>
        <h1 class="tab20">Technicolor Creative Services</h1>

        <h2 class="tab40">Production Tools</h2>
    </div>

    <div>
        {% load tz %}
        <br><p class="tab20"><strong>Los Angeles:</strong> {{ time_now|timezone:"America/Los_Angeles" }}</p>
        <p class="tab20"><strong>Montreal:</strong> {{ time_now|timezone:"America/Montreal" }}</p>
        <p class="tab20"><strong>London:</strong> {{ time_now|timezone:"Europe/London" }}</p>
        <p class="tab20"><strong>Bangalore:</strong> {{ time_now|timezone:"Asia/Kolkata" }}</p>
        <p class="tab20"><strong>Sydney:</strong> {{ time_now|timezone:"Australia/Sydney" }}</p>
    </div>

    <div>
        <br><h4 class="tab20">Quick Links:</h4>
        <ul>
            <li><a href="{% url 'projectmanage:index' %}">Projects</a></li>
            <li><a href="{% url 'assetmanage:index' %}">Assets</a></li>
            <li><a href="#">Prequal</a></li>
            <li><a href="#">Qc</a></li>
            <li><a href="#">Packaging</a></li>
            <li><a href="#">Metadata</a></li>
            <li><a href="#">Data Wrangling</a></li>
        </ul>
    </div>

    <div>
        <br><h3 class="tab20">About:</h3>
        <p class="tab40"><strong>Welcome to Technicolor Creative Services Production Tools.</strong></p>
        <p class="tab40">The objective of this site is to provide each department of the DSC with a unique set of tools, designed to answer their specific needs, while sharing information through a common database.</p>
        <p class="tab40">A desktop application will be developed to handle file operations (renaming, size retrieval, calculating checksum, etc.) and update the database accordingly, exchanging xml forms with the site.</p>
    </div>

    <div>
        <br><h4 class="tab20">Components:</h4>

        <ul>
            <li><a href="https://www.python.org/"><strong>Python 3:</strong></a> widely used, Python is a high-level, general-purpose, interpreted, dynamic programming language with emphasis on quick development and code readability.</li>
            <p class="tab20">Users: Google, Youtube, Dropbox, CERN, NASA</p>

            <li><a href="https://www.djangoproject.com/start/overview/"><strong>Django:</strong></a> originally developed for the newsroom environment, Django is a web framework for Python providing fast development and easy implementation of security features.<br></li>
            <p class="tab20">Users: Pinterest, Instagram, Spotify, The Washington Post</p>

            <li><strong>Database:</strong></a> currently running on Sqlite for development, various types of databases could be used in the end.</li><br>

            <li><a href="http://lucene.apache.org/solr/"><strong>Apache Sorl:</strong></a> highly reliable, scalable and fault tolerant search engine featuring advanced full-text search capabilities, easy monitoring and near real-time indexing.</li>
            <p class="tab20">Users: eBay, Netflix, Instagram, Disney, Bloonberg</p>

            <li><strong>Server:</strong></a> currently hosted on <a href="https://www.pythonanywhere.com/">pythonanywhere</a>, the site would ultimately run on an Apache server.</li><br>

            <li><strong>Html & CSS:</strong> the industry standards for front-end web development.</li>


        </ul>
    </div>

    <br><br><p class="tab40">Developped by Simon Lachaîne.</p>

{% endblock %}