body{
    background: white url("images/background.jpg");
    padding-top: 70px;
}

.navbar{
    border-radius: 0;
}

.tab20{
    margin-left: 20px;
}

.tab40{
    margin-left: 40px;
}

.comment {
    margin: 20px 0px 20px 40px;
}