{% extends "metadata/base.html" %}

{% block title %}TcsPT - Metadata{% endblock %}

{% block body %}

    <div>
        <h1 class="tab20">Technicolor Creative Services</h1>

        <h2 class="tab40">Production Tools - Metadata</h2>
    </div>

    <div>
        {% load tz %}
        <br><p class="tab20"><strong>Los Angeles:</strong> {{ time_now|timezone:"America/Los_Angeles" }}</p>
        <p class="tab20"><strong>Montreal:</strong> {{ time_now|timezone:"America/Montreal" }}</p>
        <p class="tab20"><strong>London:</strong> {{ time_now|timezone:"Europe/London" }}</p>
        <p class="tab20"><strong>Bangalore:</strong> {{ time_now|timezone:"Asia/Kolkata" }}</p>
        <p class="tab20"><strong>Sydney:</strong> {{ time_now|timezone:"Australia/Sydney" }}</p>
    </div>

    <div>
        <br><h4 class="tab20">Ready for Metadata:</h4>

        <div class="btn-group-vertical tab40" role="group">
        {% for project in projects %}

            {% if project.status == "metaready" %}

                    <a href="{% url 'metadata:metadata_details' project.metadata.id %}" class="btn btn-primary">{{ project.metadata.studio_release_title }}</a>

            {% endif %}

        {% endfor %}
        </div>

        <br><h4 class="tab20">Metadata in progress:</h4>

        <div class="btn-group-vertical tab40" role="group">
        {% for project in projects %}

            {% if project.status == "metaprogress" %}

                    <a href="{% url 'metadata:metadata_details' project.metadata.id %}" class="btn btn-info">{{ project.metadata.studio_release_title }}</a>

            {% endif %}

        {% endfor %}
        </div>

        <br><h4 class="tab20">Metadata done:</h4>

        <div class="btn-group-vertical tab40" role="group">
        {% for project in projects %}

            {% if project.status == "metadone" %}

                    <a href="{% url 'metadata:metadata_details' project.metadata.id %}" class="btn btn-success">{{ project.metadata.studio_release_title }}</a>

            {% endif %}

        {% endfor %}
        </div>
    </div>

{% endblock %}