{% extends "metadata/base.html" %}

{% block title %}TcsPT - Metadata{% endblock %}

{% block body %}

    <div>
        <h1 class="tab20">Technicolor Creative Services</h1>

        <h2 class="tab40">Production Tools - Metadata</h2>
    </div>

    <div>
        {% load tz %}
        <br><p class="tab20"><strong>Los Angeles:</strong> {{ time_now|timezone:"America/Los_Angeles" }}</p>
        <p class="tab20"><strong>Montreal:</strong> {{ time_now|timezone:"America/Montreal" }}</p>
        <p class="tab20"><strong>London:</strong> {{ time_now|timezone:"Europe/London" }}</p>
        <p class="tab20"><strong>Bangalore:</strong> {{ time_now|timezone:"Asia/Kolkata" }}</p>
        <p class="tab20"><strong>Sydney:</strong> {{ time_now|timezone:"Australia/Sydney" }}</p>
    </div>

    <div>
        <br><h3 class="tab20">Ready for Metadata:</h3>
        <ul>
        {% for project in projects %}

            {% if project.status == "metaready" %}

                    <li class="tab40"><a href="{% url 'projectmanage:project_details' pk=project.pk %}">{{ project.title }}</a></li>

            {% endif %}

        {% endfor %}
        </ul>

        <br><h3 class="tab20">Metadata in progress:</h3>
        <ul>
        {% for project in projects %}

            {% if project.status == "metaprogress" %}

                    <li class="tab40"><a href="{% url 'projectmanage:project_details' pk=project.pk %}">{{ project.title }}</a></li>

            {% endif %}

        {% endfor %}
        </ul>

        <br><h3 class="tab20">Metadata done:</h3>
        <ul>
        {% for project in projects %}

            {% if project.status == "metadone" %}

                    <li class="tab40"><a href="{% url 'projectmanage:project_details' pk=project.pk %}">{{ project.title }}</a></li>

            {% endif %}

        {% endfor %}
        </ul>
    </div>

{% endblock %}