{% extends "metadata/base.html" %}

{% block title %}TcsPT - Metadata Details{% endblock %}

{% block body %}

    <div class="container-fluid">
        <h3 class="tab20">Provider: <a href="{% url 'projectmanage:provider_details' metadata.project.provider.id %}">{{ metadata.project.provider.name }}</a></h3>
        <h4 class="tab20">Project: <a href="{% url 'projectmanage:project_details' metadata.project.id %}">{{ metadata.project.title }}</a></h4>
        <h4 class="tab20">Platform: {{ metadata.project.get_platform_display }}</h4>
    </div>

    <div class="container-fluid">
        <div class="btn-group-vertical tab40" role="group">
            <a href="{% url 'metadata:metadata_update' metadata.id %}" class="btn btn-default">Edit</a>
            <a href="{% url 'metadata:metadata_delete' metadata.id %}" class="btn btn-danger">Delete</a>
            {% if project.operator.first_name == "" %}
            <a href="{% url 'projectmanage:project_operator' metadata.project.id %}" class="btn btn-primary">Operator: {{ metadata.project.operator.username }}</a>
            {% else %}
            <a href="{% url 'projectmanage:project_operator' metadata.project.id %}" class="btn btn-primary">Operator: {{ metadata.project.operator.first_name }}</a>
            {% endif %}
            <a href="{% url 'projectmanage:project_status' metadata.project.id %}" class="btn btn-primary">Change Status</a>
        </div>
    </div>

    <br><div class="container-fluid">
        <h4>Download by Format:</h4>
        <div class="btn-group-vertical tab40" role="group">
            <a href="{% url 'metadata:download_xml' metadata.id %}" class="btn btn-primary">Xml</a>
            <a href="{% url 'metadata:download_csv' metadata.id %}" class="btn btn-primary">Csv</a>
            <a href="{% url 'metadata:download_xlsx' metadata.id %}" class="btn btn-primary">Xlsx</a>
            <a href="#" class="btn btn-primary">Pdf</a>
        </div>
    </div>

    <br><div class="container-fluid">
        <h4>Download by Platform:</h4>
        <div class="btn-group-vertical tab40" role="group">
            <a href="#" class="btn btn-primary">iTunes</a>
            <a href="#" class="btn btn-primary">Google</a>
            <a href="#" class="btn btn-primary">Sasktel</a>
        </div>
    </div>

    <br><div class="container-fluid">
        <h4><a href="{% url 'metadata:metadata_general' metadata.id %}">General Details:</a></h4>
        <div class="tab40">
            <p><strong>Studio release title:</strong> {{ metadata.studio_release_title }}</p>
            <p><strong>Original language:</strong> {{ metadata.original_language }}</p>
            <p><strong>Country of origin:</strong> {{ metadata.country_of_origin }}</p>
            <p><strong>Copyright line:</strong> {{ metadata.copyright_line }}</p>
            <p><strong>Theatrical release date:</strong> {{ metadata.release_date }}</p>
            <p><strong>Production company:</strong> {{ metadata.production_company }}</p>

            <br><p><strong>Cast member 1:</strong> {{ metadata.cast_1 }}</p>
            <p><strong>Cast member 1 character 1:</strong> {{ metadata.cast_1_character_1 }}</p>
            <p><strong>Cast member 1 character 2:</strong> {{ metadata.cast_1_character_2 }}</p>
            <p><strong>Cast member 2:</strong> {{ metadata.cast_2 }}</p>
            <p><strong>Cast member 2 character 1:</strong> {{ metadata.cast_2_character_1 }}</p>
            <p><strong>Cast member 2 character 2:</strong> {{ metadata.cast_2_character_2 }}</p>
            <p><strong>Cast member 3:</strong> {{ metadata.cast_3 }}</p>
            <p><strong>Cast member 3 character 1:</strong> {{ metadata.cast_3_character_1 }}</p>
            <p><strong>Cast member 3 character 2:</strong> {{ metadata.cast_3_character_2 }}</p>
            <p><strong>Cast member 4:</strong> {{ metadata.cast_4 }}</p>
            <p><strong>Cast member 4 character 1:</strong> {{ metadata.cast_4_character_1 }}</p>
            <p><strong>Cast member 4 character 2:</strong> {{ metadata.cast_4_character_2 }}</p>
            <p><strong>Cast member 5:</strong> {{ metadata.cast_5 }}</p>
            <p><strong>Cast member 5 character 1:</strong> {{ metadata.cast_5_character_1 }}</p>
            <p><strong>Cast member 5 character 2:</strong> {{ metadata.cast_5_character_2 }}</p>
            <p><strong>Cast member 6:</strong> {{ metadata.cast_6 }}</p>
            <p><strong>Cast member 6 character 1:</strong> {{ metadata.cast_6_character_1 }}</p>
            <p><strong>Cast member 6 character 2:</strong> {{ metadata.cast_6_character_2 }}</p>
            <p><strong>Cast member 7:</strong> {{ metadata.cast_7 }}</p>
            <p><strong>Cast member 7 character 1:</strong> {{ metadata.cast_7_character_1 }}</p>
            <p><strong>Cast member 7 character 2:</strong> {{ metadata.cast_7_character_2 }}</p>
            <p><strong>Cast member 8:</strong> {{ metadata.cast_8 }}</p>
            <p><strong>Cast member 8 character 1:</strong> {{ metadata.cast_8_character_1 }}</p>
            <p><strong>Cast member 8 character 2:</strong> {{ metadata.cast_8_character_2 }}</p>
            <p><strong>Cast member 9:</strong> {{ metadata.cast_9 }}</p>
            <p><strong>Cast member 9 character 1:</strong> {{ metadata.cast_9_character_1 }}</p>
            <p><strong>Cast member 9 character 2:</strong> {{ metadata.cast_9_character_2 }}</p>
            <p><strong>Cast member 10:</strong> {{ metadata.cast_10 }}</p>
            <p><strong>Cast member 10 character 1:</strong> {{ metadata.cast_10_character_1 }}</p>
            <p><strong>Cast member 10 character 2:</strong> {{ metadata.cast_10_character_2 }}</p>

            <br><p><strong>Crew member 1:</strong> {{ metadata.crew_1 }}</p>
            <p><strong>Crew member 1 role 1:</strong> {{ metadata.crew_1_role_1 }}</p>
            <p><strong>Crew member 1 role 2:</strong> {{ metadata.crew_1_role_2 }}</p>
            <p><strong>Crew member 1 role 3:</strong> {{ metadata.crew_1_role_3 }}</p>
            <p><strong>Crew member 1 role 4:</strong> {{ metadata.crew_1_role_4 }}</p>
            <p><strong>Crew member 2:</strong> {{ metadata.crew_2 }}</p>
            <p><strong>Crew member 2 role 1:</strong> {{ metadata.crew_2_role_1 }}</p>
            <p><strong>Crew member 2 role 2:</strong> {{ metadata.crew_2_role_2 }}</p>
            <p><strong>Crew member 2 role 3:</strong> {{ metadata.crew_2_role_3 }}</p>
            <p><strong>Crew member 2 role 4:</strong> {{ metadata.crew_2_role_4 }}</p>
            <p><strong>Crew member 3:</strong> {{ metadata.crew_3 }}</p>
            <p><strong>Crew member 3 role 1:</strong> {{ metadata.crew_3_role_1 }}</p>
            <p><strong>Crew member 3 role 2:</strong> {{ metadata.crew_3_role_2 }}</p>
            <p><strong>Crew member 3 role 3:</strong> {{ metadata.crew_3_role_3 }}</p>
            <p><strong>Crew member 3 role 4:</strong> {{ metadata.crew_3_role_4 }}</p>
            <p><strong>Crew member 4:</strong> {{ metadata.crew_4 }}</p>
            <p><strong>Crew member 4 role 1:</strong> {{ metadata.crew_4_role_1 }}</p>
            <p><strong>Crew member 4 role 2:</strong> {{ metadata.crew_4_role_2 }}</p>
            <p><strong>Crew member 4 role 3:</strong> {{ metadata.crew_4_role_3 }}</p>
            <p><strong>Crew member 4 role 4:</strong> {{ metadata.crew_4_role_4 }}</p>
            <p><strong>Crew member 5:</strong> {{ metadata.crew_5 }}</p>
            <p><strong>Crew member 5 role 1:</strong> {{ metadata.crew_5_role_1 }}</p>
            <p><strong>Crew member 5 role 2:</strong> {{ metadata.crew_5_role_2 }}</p>
            <p><strong>Crew member 5 role 3:</strong> {{ metadata.crew_5_role_3 }}</p>
            <p><strong>Crew member 5 role 4:</strong> {{ metadata.crew_5_role_4 }}</p>
            <p><strong>Crew member 6:</strong> {{ metadata.crew_6 }}</p>
            <p><strong>Crew member 6 role 1:</strong> {{ metadata.crew_6_role_1 }}</p>
            <p><strong>Crew member 6 role 2:</strong> {{ metadata.crew_6_role_2 }}</p>
            <p><strong>Crew member 6 role 3:</strong> {{ metadata.crew_6_role_3 }}</p>
            <p><strong>Crew member 6 role 4:</strong> {{ metadata.crew_6_role_4 }}</p>
            <p><strong>Crew member 7:</strong> {{ metadata.crew_7 }}</p>
            <p><strong>Crew member 7 role 1:</strong> {{ metadata.crew_7_role_1 }}</p>
            <p><strong>Crew member 7 role 2:</strong> {{ metadata.crew_7_role_2 }}</p>
            <p><strong>Crew member 7 role 3:</strong> {{ metadata.crew_7_role_3 }}</p>
            <p><strong>Crew member 7 role 4:</strong> {{ metadata.crew_7_role_4 }}</p>
            <p><strong>Crew member 8:</strong> {{ metadata.crew_8 }}</p>
            <p><strong>Crew member 8 role 1:</strong> {{ metadata.crew_8_role_1 }}</p>
            <p><strong>Crew member 8 role 2:</strong> {{ metadata.crew_8_role_2 }}</p>
            <p><strong>Crew member 8 role 3:</strong> {{ metadata.crew_8_role_3 }}</p>
            <p><strong>Crew member 8 role 4:</strong> {{ metadata.crew_8_role_4 }}</p>
            <p><strong>Crew member 9:</strong> {{ metadata.crew_9 }}</p>
            <p><strong>Crew member 9 role 1:</strong> {{ metadata.crew_9_role_1 }}</p>
            <p><strong>Crew member 9 role 2:</strong> {{ metadata.crew_9_role_2 }}</p>
            <p><strong>Crew member 9 role 3:</strong> {{ metadata.crew_9_role_3 }}</p>
            <p><strong>Crew member 9 role 4:</strong> {{ metadata.crew_9_role_4 }}</p>
            <p><strong>Crew member 10:</strong> {{ metadata.crew_10 }}</p>
            <p><strong>Crew member 10 role 1:</strong> {{ metadata.crew_10_role_1 }}</p>
            <p><strong>Crew member 10 role 2:</strong> {{ metadata.crew_10_role_2 }}</p>
            <p><strong>Crew member 10 role 3:</strong> {{ metadata.crew_10_role_3 }}</p>
            <p><strong>Crew member 10 role 4:</strong> {{ metadata.crew_10_role_4 }}</p>
        </div>
    </div>
    <br><div class="container-fluid">
        <h4><a href="{% url 'metadata:metadata_localization' metadata.id %}">Localization Details:</a></h4>
        <div class="tab40">
            <br><p><strong>Title EN:</strong> {{ metadata.title_en }}</p>
            <p><strong>Synopsis long EN:</strong> {{ metadata.synopsis_long_en }}</p>
            <p><strong>Synopsis short EN:</strong> {{ metadata.synopsis_short_en }}</p>
            <br><p><strong>Title FR:</strong> {{ metadata.title_fr }}</p>
            <p><strong>Synopsis long FR:</strong> {{ metadata.synopsis_long_fr }}</p>
            <p><strong>Synopsis short FR:</strong> {{ metadata.synopsis_short_fr }}</p>
        </div>
    </div>
    <br><div class="container-fluid">
        <h4><a href="{% url 'metadata:metadata_itunes' metadata.id %}">iTunes Details:</a></h4>
        <div class="tab40">
            <p><strong>Vendor ID:</strong> {{ metadata.itunes_vendor_id }}</p>
            <p><strong>Territories:</strong> {{ metadata.itunes_territories }}</p>
            <p><strong>Cleared for sale:</strong> {{ metadata.itunes_cleared_sale }}</p>
            <p><strong>Cleared for preorder:</strong> {{ metadata.itunes_cleared_preorder }}</p>
            <p><strong>Preorder start date:</strong> {{ metadata.itunes_preoder_date }}</p>
            <p><strong>EST start date:</strong> {{ metadata.itunes_est_start_date }}</p>
            <p><strong>EST end date:</strong> {{ metadata.itunes_est_end_date }}</p>
            <p><strong>Cleared for VOD:</strong> {{ metadata.itunes_cleared_vod }}</p>
            <p><strong>VOD start date:</strong> {{ metadata.itunes_vod_start_date }}</p>
            <p><strong>VOD end date:</strong> {{ metadata.itunes_vod_end_date }}</p>
            <p><strong>Home video start date:</strong> {{ metadata.itunes_home_video_date }}</p>
            <p><strong>SD price tier:</strong> {{ metadata.itunes_sd_price_tier }}</p>
            <p><strong>HD price tier:</strong> {{ metadata.itunes_hd_price_tier }}</p>
            <p><strong>Genre:</strong> {{ metadata.get_itunes_genre_1_display }}</p>
            <p><strong>Genre:</strong> {{ metadata.get_itunes_genre_2_display }}</p>
            <p><strong>Genre:</strong> {{ metadata.get_itunes_genre_3_display }}</p>
            <p><strong>Genre:</strong> {{ metadata.get_itunes_genre_4_display }}</p>
            <p><strong>Rating system:</strong> {{ metadata.itunes_rating_system_1 }}</p>
            <p><strong>Rating system:</strong> {{ metadata.itunes_rating_system_2 }}</p>
            <p><strong>Rating system:</strong> {{ metadata.itunes_rating_system_3 }}</p>
            <p><strong>Rating system:</strong> {{ metadata.itunes_rating_system_4 }}</p>
            <p><strong>Rating system:</strong> {{ metadata.itunes_rating_system_5 }}</p>
        </div>
    </div>
    <br><div class="container-fluid">
        <h4><a href="{% url 'metadata:metadata_sasktel' metadata.id %}">Sasktel Details:</a></h4>
        <div class="tab40">
            <p><strong>Licensing start date:</strong> {{ metadata.sasktel_license_start_date }}</p>
            <p><strong>Licensing end date:</strong> {{ metadata.sasktel_license_end_date }}</p>
            <p><strong>Sasktel rating:</strong> {{ metadata.sasktel_rating }}</p>
            <p><strong>SD price:</strong> {{ metadata.sasktel_sd_price }}</p>
            <p><strong>HD price:</strong> {{ metadata.sasktel_hd_price }}</p>
        </div>
    </div>

{% endblock %}