{% extends "projectmanage/base.html" %}

{% block title %}TcsPT - Project Management{% endblock %}

{% block body %}

    <h1 class="tab20">Technicolor Creative Services</h1>

    <h2 class="tab40">Production Tools - Project Management</h2>

    <br><p class="tab20">Montreal time: {{ mtl_time }}</p>

    <br><p class="tab20"><strong>Quick Links:</strong></p>
    <p class="tab40"><a href="{% url 'projectmanage:providers' %}">Providers</a></p>
    <p class="tab40"><a href="{% url 'projectmanage:projects' %}">Projects</a></p>
    <p class="tab40"><a href="{% url 'projectmanage:provider_add' %}">Add Provider</a></p>
    <p class="tab40"><a href="{% url 'projectmanage:project_add' %}">Add Project</a></p>

{% endblock %}