{% extends "projectmanage/base.html" %}

{% block title %}TcsPT - Project Management{% endblock %}

{% block body %}

    <div>
        <h1 class="tab20">Technicolor Creative Services</h1>

        <h2 class="tab40">Production Tools - Projects</h2>
    </div>

    <div>
        {% load tz %}
        <br><p class="tab20"><strong>Los Angeles:</strong> {{ time_now|timezone:"America/Los_Angeles" }}</p>
        <p class="tab20"><strong>Montreal:</strong> {{ time_now|timezone:"America/Montreal" }}</p>
        <p class="tab20"><strong>London:</strong> {{ time_now|timezone:"Europe/London" }}</p>
        <p class="tab20"><strong>Bangalore:</strong> {{ time_now|timezone:"Asia/Kolkata" }}</p>
        <p class="tab20"><strong>Sydney:</strong> {{ time_now|timezone:"Australia/Sydney" }}</p>
    </div>

    <div>
        <br><h3 class="tab20">Ready for <a href="#">Prequal:</a></h3>
        <ul>
        {% for project in projects %}

            {% if project.status == "prequalready" %}

                    <li class="tab40"><a href="{% url 'projectmanage:project_details' pk=project.pk %}">{{ project.title }}</a></li>

            {% endif %}

        {% endfor %}
        </ul>

        <br><h3 class="tab20">Ready for <a href="#">Qc:</a></h3>
        <ul>
        {% for project in projects %}

            {% if project.status == "qcready" %}

                    <li class="tab40"><a href="{% url 'projectmanage:project_details' pk=project.pk %}">{{ project.title }}</a></li>

            {% endif %}

        {% endfor %}
        </ul>

        <br><h3 class="tab20">Ready for <a href="#">Packaging:</a></h3>
        <ul>
        {% for project in projects %}

            {% if project.status == "packready" %}

                    <li class="tab40"><a href="{% url 'projectmanage:project_details' pk=project.pk %}">{{ project.title }}</a></li>

            {% endif %}

        {% endfor %}
        </ul>

        <br><h3 class="tab20">Ready for <a href="{% url 'metadata:index' %}">Metadata:</a></h3>
        <ul>
        {% for project in projects %}

            {% if project.status == "metaready" %}

                    <li class="tab40"><a href="{% url 'projectmanage:project_details' pk=project.pk %}">{{ project.title }}</a></li>

            {% endif %}

        {% endfor %}
        </ul>

        <br><h3 class="tab20">Ready for <a href="#">Data Wrangling:</a></h3>
        <ul>
        {% for project in projects %}

            {% if project.status == "datadownready" or project.status == "datacopyready" or project.status == "dataupready" or project.status == "dataarchready" %}

                    <li class="tab40"><a href="{% url 'projectmanage:project_details' pk=project.pk %}">{{ project.title }}</a></li>

            {% endif %}

        {% endfor %}
        </ul>
    </div>

{% endblock %}