{% extends "projectmanage/base.html" %}

{% block title %}TcsPT - Project Management{% endblock %}

{% block body %}

    <div class="container-fluid">
        <h1 class="tab20">Technicolor Creative Services</h1>

        <h2 class="tab40">Production Tools - Projects</h2>
    </div>

    <div class="container-fluid">
        {% load tz %}
        <br><p class="tab20"><strong>Los Angeles:</strong> {{ time_now|timezone:"America/Los_Angeles" }}</p>
        <p class="tab20"><strong>Montreal:</strong> {{ time_now|timezone:"America/Montreal" }}</p>
        <p class="tab20"><strong>London:</strong> {{ time_now|timezone:"Europe/London" }}</p>
        <p class="tab20"><strong>Bangalore:</strong> {{ time_now|timezone:"Asia/Kolkata" }}</p>
        <p class="tab20"><strong>Sydney:</strong> {{ time_now|timezone:"Australia/Sydney" }}</p>
    </div>

    <div>
    <div class="container-fluid">
        <br><h4 class="tab20">Production Workflow Done:</h4>
        <div class="btn-group-vertical tab40" role="group">
        {% for project in projects %}

            {% if project.status == "prequaldone" or project.status == "qcdone" or project.status == "packdone" or project.status == "metadone" %}

                <a href="{% url 'projectmanage:project_details' pk=project.pk %}" class="btn btn-success">{{ project.title }}</a>

            {% endif %}

        {% endfor %}
        </div>

        <br><h4 class="tab20">Data Wrangling Workflow Done:</h4>
        <div class="btn-group-vertical tab40" role="group">
        {% for project in projects %}

            {% if project.status == "datadownloaded" or project.status == "datacopied" or project.status == "datauploaded" or project.status == "dataarchived" %}

                    <a href="{% url 'projectmanage:project_details' pk=project.pk %}" class="btn btn-success">{{ project.title }}</a>

            {% endif %}

        {% endfor %}
        </div>
    </div>

    <div class="container-fluid">
        <br><br><h4 class="tab20">Ready for Production Workflow:</h4>
        <div class="btn-group-vertical tab40" role="group">
        {% for project in projects %}

            {% if project.status == "prequalready" or project.status == "qcready" or project.status == "packready" or project.status == "metaready" %}

                    <a href="{% url 'projectmanage:project_details' pk=project.pk %}" class="btn btn-primary">{{ project.title }}</a>

            {% endif %}

        {% endfor %}
        </div>

        <br><h4 class="tab20">Ready for Data Wrangling Workflow:</h4>
        <div class="btn-group-vertical tab40" role="group">
        {% for project in projects %}

            {% if project.status == "datadownready" or project.status == "datacopyready" or project.status == "dataupready" or project.status == "dataarchready" %}

                    <a href="{% url 'projectmanage:project_details' pk=project.pk %}" class="btn btn-primary">{{ project.title }}</a>

            {% endif %}

        {% endfor %}
        </div>
    </div>

    <div class="container-fluid">
        <br><br><h4 class="tab20">Production Workflow in Progress:</h4>
        <div class="btn-group-vertical tab40" role="group">
        {% for project in projects %}

            {% if project.status == "prequalprogress" or project.status == "qcprogress" or project.status == "packprogress" or project.status == "metaprogress" %}

                    <a href="{% url 'projectmanage:project_details' pk=project.pk %}" class="btn btn-info">{{ project.title }}</a>

            {% endif %}

        {% endfor %}
        </div>

        <br><h4 class="tab20">Data Wrangling Workflow in Progress:</h4>
        <div class="btn-group-vertical tab40" role="group">
        {% for project in projects %}

            {% if project.status == "datadownloading" or project.status == "datacopyinng" or project.status == "datauploading" or project.status == "dataarchiving" %}

                    <a href="{% url 'projectmanage:project_details' pk=project.pk %}" class="btn btn-info">{{ project.title }}</a>

            {% endif %}

        {% endfor %}
        </div>
    </div>

    <div class="container-fluid">
        <br><br><h4 class="tab20">In Pre-Production:</h4>
        <div class="btn-group-vertical tab40" role="group">
        {% for project in projects %}

            {% if project.status == "preprod" %}

                    <a href="{% url 'projectmanage:project_details' pk=project.pk %}" class="btn btn-default">{{ project.title }}</a>

            {% endif %}

        {% endfor %}
        </div>

        <br><h4 class="tab20">Completed:</h4>
        <div class="btn-group-vertical tab40" role="group">
        {% for project in projects %}

            {% if project.status == "completed" %}

                    <a href="{% url 'projectmanage:project_details' pk=project.pk %}" class="btn btn-default">{{ project.title }}</a>

            {% endif %}

        {% endfor %}
        </div>
    </div>

    </div>

{% endblock %}