{% extends "projectmanage/base.html" %}

{% block title %}TcsPT - Project Management{% endblock %}

{% block body %}

    {% if project.status == "prequalready" or project.status == "qcready" or project.status == "packready" or project.status == "metaready" or project.status == "datadownready" or project.status == "datacopyready" or project.status == "dataupready" or project.status == "dataarchready" %}

        <div class="progress">
          <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
              <span style="color:black">{{ project.get_status_display }}</span>
          </div>
        </div>

    {% elif project.status == "prequalprogress" or project.status == "qcprogress" or project.status == "packprogress" or project.status == "metaprogress" or project.status == "datadownloading" or project.status == "datacopyinng" or project.status == "datauploading" or project.status == "dataarchiving" %}

        <div class="progress">
          <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
              {{ project.get_status_display }}
          </div>
        </div>

    {% elif project.status == "prequaldone" or project.status == "qcdone" or project.status == "packdone" or project.status == "metadone" or project.status == "datadownloaded" or project.status == "datacopied" or project.status == "datauploaded" or project.status == "dataarchived" %}

        <div class="progress">
          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
              {{ project.get_status_display }}
          </div>
        </div>

    {% endif %}


    <h3 class="tab20">Title: {{ project.title }}</h3>
    <h4 class="tab20">Provider: <a href="{% url 'projectmanage:provider_details' project.provider.id %}">{{ project.provider.name }}</a></h4>
    <h5 class="tab40"><a href="{% url 'projectmanage:project_update' project.id %}">Edit</a></h5>
    <h5 class="tab40"><a href="{% url 'projectmanage:project_delete' project.id %}">Delete</a></h5>
    <h5 class="tab40">Assigned to: <a href="{% url 'projectmanage:project_operator' project.id %}">{{ project.operator }}</a></h5>
    <h5 class="tab40">Change <a href="{% url 'projectmanage:project_status' project.id %}">Status</a></h5>

    <br><p class="tab20"><strong>Deliver for:</strong></p>
    <p class="tab40">iTunes: {{ project.itunes }}</p>
    <p class="tab40">Google: {{ project.google }}</p>
    <p class="tab40">Sasktel: {{ project.sasktel }}</p>
    <p class="tab40">Netflix: {{ project.netflix }}</p>


    {% if project.metadata.id %}
        <br><h4 class="tab20"><a href="{% url 'metadata:metadata_details' project.metadata.id %}">Metadata</a></h4>
    {% else %}
        <br><h4 class="tab20"><a href="{% url 'metadata:metadata_add' %}">Create Metadata</a></h4>
    {% endif %}

    <br><h4 class="tab20">Assets:</h4>
    {% if project.video_set.all %}
        <ul>
            {% for video in project.video_set.all %}

                    <li class="tab40"><a href="{% url 'assetmanage:video_details' video.id %}">{{ video.file_name }}</a></li>

            {% endfor %}

            <br><li class="tab40"><a href="{% url 'assetmanage:asset_select' %}"><strong>Add Asset</strong></a></li>

        </ul>
    {% else %}

        <ul>

            <li class="tab40">No assets to display</li>
            <br><li class="tab40"><a href="{% url 'assetmanage:asset_select' %}"><strong>Add Asset</strong></a></li>

        </ul>

    {% endif %}

    <br><h4 class="tab20">Rejections:</h4>
    {% if project.rejection_set.all %}
        <ul>
            {% for rejection in project.rejection_set.all %}

                    <li class="tab40"><a href="{% url 'projectmanage:rejection_details' rejection.id %}">{{ rejection.get_status_display }} - {{ rejection.reason }}</a></li>

            {% endfor %}

            <br><li class="tab40"><a href="{% url 'projectmanage:rejection_add' %}"><strong>Add Rejection</strong></a></li>

        </ul>
    {% else %}

        <ul>

            <li class="tab40">No rejections to display</li>
            <br><li class="tab40"><a href="{% url 'projectmanage:rejection_add' %}"><strong>Add Rejection</strong></a></li>

        </ul>

    {% endif %}


{% endblock %}