{% extends "projectmanage/base.html" %}

{% block title %}TcsPT - Project Management{% endblock %}

{% block body %}

    {% if project.status == "prequalready" or project.status == "qcready" or project.status == "packready" or project.status == "metaready" or project.status == "datadownready" or project.status == "datacopyready" or project.status == "dataupready" or project.status == "dataarchready" %}

        <div class="progress">
          <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
              {{ project.get_status_display }}
          </div>
        </div>

    {% elif project.status == "prequalprogress" or project.status == "qcprogress" or project.status == "packprogress" or project.status == "metaprogress" or project.status == "datadownloading" or project.status == "datacopyinng" or project.status == "datauploading" or project.status == "dataarchiving" %}

        <div class="progress">
          <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
              {{ project.get_status_display }}
          </div>
        </div>

    {% elif project.status == "prequaldone" or project.status == "qcdone" or project.status == "packdone" or project.status == "metadone" or project.status == "datadownloaded" or project.status == "datacopied" or project.status == "datauploaded" or project.status == "dataarchived" %}

        <div class="progress">
          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
              {{ project.get_status_display }}
          </div>
        </div>

    {% elif project.status == "preprod" or project.status == "completed" %}

        <div class="progress">
          <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
              {{ project.get_status_display }}
          </div>
        </div>


    {% endif %}

    <div class="container-fluid">
        <h3 class="tab20">Title: {{ project.title }}</h3>
        <h4 class="tab20">Provider: <a href="{% url 'projectmanage:provider_details' project.provider.id %}">{{ project.provider.name }}</a></h4>
    </div>

    <div class="container-fluid">
        <div class="btn-group-vertical tab40" role="group">
            <a href="{% url 'projectmanage:project_update' project.id %}" class="btn btn-default">Edit</a>
            <a href="{% url 'projectmanage:project_delete' project.id %}" class="btn btn-danger">Delete</a>
            {% if project.operator.first_name == "" %}
            <a href="{% url 'projectmanage:project_operator' project.id %}" class="btn btn-primary">Operator: {{ project.operator.username }}</a>
            {% else %}
            <a href="{% url 'projectmanage:project_operator' project.id %}" class="btn btn-primary">Operator: {{ project.operator.first_name }}</a>
            {% endif %}
            <a href="{% url 'projectmanage:project_status' project.id %}" class="btn btn-primary">Change Status</a>
        </div>
    </div>

    <div class="container-fluid">
        <br><h4 class="tab20">Details:</h4>
        <div class="tab40">
            <p><strong>Platform:</strong> {{ project.get_platform_display }}</p>
            <p><strong>Start Date:</strong> {{ project.start_date }}</p>
            <p><strong>Due Date:</strong> {{ project.due_date }}</p>
        </div>
    </div>

    <div class="container-fluid">
        <br><h4 class="tab20">Metadata:</h4>
        <div class="btn-group-vertical tab40" role="group">
        {% if project.metadata.id %}
            <a href="{% url 'metadata:metadata_details' project.metadata.id %}" class="btn btn-primary">Metadata</a>
        {% else %}
            <a href="{% url 'metadata:metadata_add' %}" class="btn btn-success">Create Metadata</a>
        {% endif %}
        </div>
    </div>

    <div class="container-fluid">
        <br><h4 class="tab20">Assets:</h4>

        <div class="btn-group-vertical tab40" role="group">
            {% for video in project.video_set.all %}

                {% if video.status == "active" %}

                    <a href="{% url 'assetmanage:video_details' video.id %}" class="btn btn-success">{{ video.file_name }}</a>

                {% endif %}

            {% endfor %}
            {% if project.audio_set.all %}
                {% for audio in project.audio_set.all %}
                    {% if audio.status == "active" %}

                        <a href="{% url 'assetmanage:audio_details' audio.id %}" class="btn btn-success">{{ audio.file_name }}</a>

                    {% endif %}
                {% endfor %}
            {% endif %}
            {% if project.subtitle_set.all %}
                    {% for sub in project.subtitle_set.all %}
                        {% if sub.status == "active" %}

                        <a href="{% url 'assetmanage:subtitle_details' sub.id %}" class="btn btn-success">{{ sub.file_name }}</a>

                        {% endif %}
                    {% endfor %}
            {% endif %}

            {% for video in project.video_set.all %}

                {% if video.status == "archived" %}

                    <a href="{% url 'assetmanage:video_details' video.id %}" class="btn btn-warning">{{ video.file_name }}</a>

                {% endif %}

            {% endfor %}
            {% if project.audio_set.all %}
                {% for audio in project.audio_set.all %}
                    {% if audio.status == "archived" %}

                        <a href="{% url 'assetmanage:audio_details' audio.id %}" class="btn btn-warning">{{ audio.file_name }}</a>

                    {% endif %}
                {% endfor %}
            {% endif %}
            {% if project.subtitle_set.all %}
                    {% for sub in project.subtitle_set.all %}
                        {% if sub.status == "archived" %}

                        <a href="{% url 'assetmanage:subtitle_details' sub.id %}" class="btn btn-warning">{{ sub.file_name }}</a>

                        {% endif %}
                    {% endfor %}
            {% endif %}
        </div>
    </div>

    <div class="container-fluid">
        <br><h4 class="tab20">Add Asset:</h4>
        <div class="btn-group-vertical tab40" role="group">
            <a href="{% url 'projectmanage:download_video_xml' project.id %}" class="btn btn-primary"><strong>Download Video xml</strong></a>
            <a href="{% url 'projectmanage:download_audio_xml' project.id %}" class="btn btn-primary"><strong>Download Audio xml</strong></a>
            <a href="{% url 'projectmanage:download_subtitle_xml' project.id %}" class="btn btn-primary"><strong>Download Subtitle xml</strong></a>
            <a href="#" class="btn btn-primary">Download Image xml</a>
            <a href="#" class="btn btn-primary">Download Note xml</a>
            <a href="{% url 'assetmanage:asset_add_xml' %}" class="btn btn-default"><strong>Add Asset</strong></a>
        </div>
    </div>

    <div class="container-fluid">
        <br><h4 class="tab20">Rejections:</h4>
        <div class="btn-group-vertical tab40" role="group">

        {% if project.rejection_set.all %}
            {% for rejection in project.rejection_set.all %}
                {% if rejection.status == "open" %}

                    <a href="{% url 'projectmanage:rejection_details' rejection.id %}" class="btn btn-danger">{{ rejection.reason }}</a>

                {% endif %}
            {% endfor %}
            {% for rejection in project.rejection_set.all %}
                {% if rejection.status == "closed" %}

                    <a href="{% url 'projectmanage:rejection_details' rejection.id %}" class="btn btn-success">{{ rejection.reason }}</a>

                {% endif %}
            {% endfor %}
        {% endif %}
        <a href="{% url 'projectmanage:rejection_add' %}" class="btn btn-default">Add Rejection</a>
        </div>
    </div>

{% endblock %}