{% extends "projectmanage/base.html" %}

{% block title %}TcsPT - Project Management{% endblock %}

{% block body %}

    {% if providers_list %}
        <h3 class="tab20">List of providers ({{ providers_list.count }}):</h3>

        <ul>

            {% for provider in providers_list %}
                <li><a href="{% url 'projectmanage:provider_details' provider.id %}">{{ provider.name }}</a></li>
            {% endfor %}
            <br><li><a href="{% url 'projectmanage:provider_add' %}"><strong>Add Provider</strong></a></li>

        </ul>

    {% else %}
        <h3 class="tab20">No provider to display</h3>

        <br><p><a href="{% url 'projectmanage:provider_add' %}"><strong>Add Provider</strong></a></p>

    {% endif %}

{% endblock %}