{% extends "news/base.html" %}


{% block title %}TcsPT - News{% endblock %}

{% block body %}

    <div class="container-fluid">
        <h1 class="tab20">Technicolor Creative Services</h1>

        <h2 class="tab40">Production Tools - News</h2>
    </div>

    <div class="container-fluid">
        {% load tz %}
        <br><p class="tab20"><strong>Los Angeles:</strong> {{ time_now|timezone:"America/Los_Angeles" }}</p>
        <p class="tab20"><strong>Montreal:</strong> {{ time_now|timezone:"America/Montreal" }}</p>
        <p class="tab20"><strong>London:</strong> {{ time_now|timezone:"Europe/London" }}</p>
        <p class="tab20"><strong>Bangalore:</strong> {{ time_now|timezone:"Asia/Kolkata" }}</p>
        <p class="tab20"><strong>Sydney:</strong> {{ time_now|timezone:"Australia/Sydney" }}</p>
    </div>

    <br><div class="container-fluid">
        <h3 class="tab20">News</h3>

        {% for post in posts %}

            <br><div class="container-fluid">
                <a href="{% url 'news:post_detail' pk=post.pk %}" class="btn btn-primary">{{ post.title }}</a>
                <p>{{ post.text|linebreaksbr }}</p>
                <a href="{% url 'news:post_detail' pk=post.pk %}">Comments: {{ post.comments.count }}</a>


            </div>

        {% endfor %}
    </div>

{% endblock %}