{% extends 'news/base.html' %}

{% block title %}TcsPT - News Post{% endblock %}

{% block body %}

    <div>

        <h3 class="tab20">Post Details</h3>
    </div>

    <div class="post">

        <br><h4 class="tab20">{{ post.title }}</h4>

        {% if post.published_date %}

            {% load tz %}
            <div class="date">
                <p class="tab20">{{ post.published_date|timezone:"America/Montreal" }}</p>
            </div>

        {% else %}
            {% if user.is_staff %}

            <a class="btn btn-default tab20" href="{% url 'news:post_publish' pk=post.pk %}">Publish</a>

            {% endif %}

        {% endif %}

        <br><p class="tab40">{{ post.text|linebreaksbr }}</p>

        {% if post.name == "" %}

            <p class="tab40">Author: <strong>{{ post.author }}</strong></p>

        {% else %}

            <p class="tab40">Author: <strong>{{ post.name }}</strong></p>

        {% endif %}

        {% if user.is_staff %}
            <div class="tab40">
            <a class="btn btn-default" href="{% url 'news:post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a><a class="btn btn-default" href="{% url 'news:post_remove' pk=post.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
            </div>
        {% endif %}

    </div>

    <hr>

    <a class="btn btn-default tab20" href="{% url 'news:add_comment' pk=post.pk %}">Add comment</a>

    {% for comment in post.comments.all %}

        <div class="comment">
            <div class="date">{{ comment.created_date|timezone:"America/Montreal" }}</div>

            <p class="tab20">{{ comment.text|linebreaks }}</p>

            {% if comment.name == "" %}

                <p class="tab40">Author: <strong>{{ comment.author }}</strong></p>

            {% else %}

                <p class="tab40">Author: <strong>{{ comment.name }}</strong></p>

            {% endif %}

        </div>

    {% empty %}

        <p class="tab40">No comments</p>

    {% endfor %}

{% endblock %}