body{
    background: white url("images/background.jpg");
    padding-top: 70px;
    padding-bottom: 20px;
    padding-right: 20px;
}

.navbar{
    border-radius: 0;
}

.tab20{
    margin-left: 20px;
}

.tab40{
    margin-left: 40px;
}

.list-group{
    padding-left: 20px;
    padding-right: 80%;
}