{% extends "assetmanage/base.html" %}

{% block title %}TcsPT - Asset Details{% endblock %}

{% block body %}

    <h3 class="tab20">Filename: {{ asset.file_name }}</h3>
    <h4 class="tab20">Provider: <a href="{% url 'projectmanage:provider_details' asset.provider.id %}">{{ asset.provider.name }}</a></h4>
    <h4 class="tab20">Project: <a href="{% url 'projectmanage:project_details' asset.project.id %}">{{ asset.project.title }}</a></h4>
    <h5 class="tab40"><a href="{% url 'assetmanage:asset_update' asset.id %}">Edit</a></h5>
    <h5 class="tab40"><a href="{% url 'assetmanage:asset_delete' asset.id %}">Delete</a></h5>

    <br><h4 class="tab20">Details:</h4>
    <p class="tab40">Path: {{ asset.file_path }}</p>
    <p class="tab40">Size: {{ asset.file_size|filesizeformat }}</p>
    <p class="tab40">Md5 Checksum: {{ asset.file_md5 }}</p>
    <p class="tab40">Asset Type: {{ asset.get_type_display }}</p><br>

    <br><h4 class="tab20"><strong>Status: {{ asset.get_status_display }}</strong></h4><br>

{% endblock %}