{% extends "assetmanage/base.html" %}

{% block title %}TcsPT - Asset Management{% endblock %}

{% block body %}

    {% if assets_list %}
        <h3 class="tab20">List of assets ({{ assets_list.count }}):</h3>

        <ul>

            {% for asset in assets_list %}
                <li><a href="{% url 'assetmanage:asset_details' asset.id %}">{{ asset.file_name }}</a></li>
            {% endfor %}
            <br><li><a href="{% url 'assetmanage:asset_add' %}"><strong>Add Asset</strong></a></li>

        </ul>

    {% else %}
        <h3 class="tab20">No asset to display</h3>

        <br><p class="tab40"><a href="{% url 'assetmanage:asset_add' %}"><strong>Add Asset</strong></a></p>

    {% endif %}

{% endblock %}