{% extends "assetmanage/base.html" %}

{% block title %}TcsPT - Asset Management{% endblock %}

{% block body %}

    <div>
        <h1 class="tab20">Technicolor Creative Services</h1>

        <h2 class="tab40">Production Tools - Asset Management</h2>
    </div>

    <div>
        {% load tz %}
        <br><p class="tab20"><strong>Los Angeles:</strong> {{ time_now|timezone:"America/Los_Angeles" }}</p>
        <p class="tab20"><strong>Montreal:</strong> {{ time_now|timezone:"America/Montreal" }}</p>
        <p class="tab20"><strong>London:</strong> {{ time_now|timezone:"Europe/London" }}</p>
        <p class="tab20"><strong>Bangalore:</strong> {{ time_now|timezone:"Asia/Kolkata" }}</p>
        <p class="tab20"><strong>Sydney:</strong> {{ time_now|timezone:"Australia/Sydney" }}</p>
    </div>

    <div>
        <br><h4 class="tab20">Quick Links:</h4>
        <ul>
            <li><a href="#">Videos</a></li>
            <li><a href="#">Audios</a></li>
            <li><a href="#">Subtitles</a></li>
            <li><a href="">Images</a></li>
            <li><a href="{% url 'assetmanage:assets' %}">Notes</a></li>
            <br><li><a href="{% url 'assetmanage:asset_add' %}"><strong>Add Asset</strong></a></li>
        </ul>
    </div>

{% endblock %}