{% extends "assetmanage/base.html" %}

{% block title %}TcsPT - Subtitles{% endblock %}

{% block body %}
    
    <div class="container-fluid">
        
        <h1 class="tab20">Technicolor Creative Services</h1>
        <h2 class="tab40">Production Tools - Subtitles</h2>

    </div>

    {% if subtitles_list %}
        <br><div class="container-fluid">
        <h4>Active Subtitles:</h4>

            <div class="btn-group-vertical tab40" role="group">

                {% for subtitle in subtitles_list %}

                    {% if subtitle.status == "active" %}

                        <a href="{% url 'assetmanage:subtitle_details' subtitle.id %}" class="btn btn-success">{{ subtitle.file_name }}</a>

                    {% endif %}

                {% endfor %}

            </div>
        </div>

        <br><div class="container-fluid">
        <h4>Archived Subtitles:</h4>

            <div class="btn-group-vertical tab40" role="group">

                {% for subtitle in subtitles_list %}

                    {% if subtitle.status == "archived" %}

                        <a href="{% url 'assetmanage:subtitle_details' subtitle.id %}" class="btn btn-warning">{{ subtitle.file_name }}</a>

                    {% endif %}

                {% endfor %}

            </div>
        </div>

    {% else %}

        <br><div class="container-fluid">
        <h4>No Subtitles to Display</h4>

            <div class="btn-group-vertical tab40" role="group">

                <a href="{% url 'assetmanage:asset_add_xml' %}" class="btn btn-default">Add Asset</a>

            </div>
        </div>

    {% endif %}

{% endblock %}