{% extends "assetmanage/base.html" %}

{% block title %}TcsPT - Videos{% endblock %}

{% block body %}

    <div class="container-fluid">

        <h1 class="tab20">Technicolor Creative Services</h1>
        <h2 class="tab40">Production Tools - Videos</h2>

    </div>

    {% if videos_list %}
        <br><div class="container-fluid">
        <h4>Active Videos:</h4>

            <div class="btn-group-vertical tab40" role="group">

                {% for video in videos_list %}

                    {% if video.status == "active" %}

                        <a href="{% url 'assetmanage:video_details' video.id %}" class="btn btn-success">{{ video.file_name }}</a>

                    {% endif %}

                {% endfor %}

            </div>
        </div>

        <br><div class="container-fluid">
        <h4>Archived Videos:</h4>

            <div class="btn-group-vertical tab40" role="group">

                {% for video in videos_list %}

                    {% if video.status == "archived" %}

                        <a href="{% url 'assetmanage:video_details' video.id %}" class="btn btn-warning">{{ video.file_name }}</a>

                    {% endif %}

                {% endfor %}

            </div>
        </div>

    {% else %}

        <br><div class="container-fluid">
        <h4>No Videos to Display</h4>

            <div class="btn-group-vertical tab40" role="group">

                <a href="{% url 'assetmanage:asset_add_xml' %}" class="btn btn-default">Add Asset</a>

            </div>
        </div>

    {% endif %}

{% endblock %}