{% extends "assetmanage/base.html" %}
{% block title %}TcsPT - Add Video{% endblock %}

{% block body %}

    <div class="tab20"><h3>Add Video</h3></div>
    <div class="container-fluid">

    <div class="row">

        <div class="col-sm-12 col-md-7">
            <div class="panel panel-default">
                <div class="panel-body">

                    <form action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input type="submit" value="Submit" />
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}